$logo-size: 82px;
$logo-scale: 0.7;

.stats-card {
	max-width: 300px;
	background-color: $white;
	margin: 0 auto;

	.stats-selection-container {
		padding: $spacing-medium; 
	}

	.stats-selection-dropdown {
		position: relative;
		display: flex;
		background-color: $gray;

		select {
			width: calc(100% + #{$spacing-medium});
			border: 0;
			background-color: transparent;
			font-size: $font-medium;
			padding: 14px;
			position: relative;
			z-index: 0;

			&:focus, 
			&:active {
				outline: 2px dotted $purple;
				outline-offset: 2px;
			}
		}

		.chevron {
			position: absolute;
			z-index: 1;
			width: 50px;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: $gray;
			pointer-events: none;

			span {
				position: absolute;
				top: 50%;
				right: 12%;
				height: 10px;
				overflow: hidden;
				transform: translate3d(-50%, -50%, 0);

				&::before {
					display: block;
					content: '';
					position: relative;
					top: -14px;
					border: 2px solid $black;
					box-sizing: border-box;
					height: 20px;
					width: 20px;
					transform: rotate(-45deg);
				}
			}
		}
	}

	.media {
		background: url('./../src/images/statscard_bg.png') no-repeat top right;
		padding: 10px $spacing-small 0;

		img {
			max-height: 210px;
			width: auto;
			max-width: initial;
		}
	}

	.text {
		background-color: $pink;
		padding: $spacing-medium;

		header {
			color: $gray;
			margin-bottom: $spacing-medium;
			position: relative;

			.name,
			.position {
				font-weight: normal;
			}

			.name {
				max-width: calc(100% - #{$logo-size});
				font-size: $font-xlarge;
			}

			.position {
				font-size: $font-medium;
			}

			.logo-container {
				border-radius: 50%;
				background-color: $white;
				width: $logo-size;
				height: $logo-size;
				overflow: hidden;
				position: absolute;
				top: -#{($logo-size / 2) + $spacing-medium - $spacing-xsmall};
				right: 0;
			}

			.logo {
				position: absolute;
				width: 100px;
				height: 100px;
				transform: translate3d(-50%, -50%, 0);
				left: 50%;
				top: 50%;
				color: $black;
				
				&::after {
					left: 0;
					right: 0;
					content: '';
					position: absolute;
					transform: scale($logo-scale);
					background: url('./../src/images/badges_sprite.png') no-repeat 0 0;
					width: inherit;
					height: inherit;
					overflow: hidden;
				}


				&[data-team="leicester"] {
					&::after {
						background-position: 0 0;
					}
				}

				&[data-team="man-city"] {
					&::after {
						background-position: -800px -700px;
					}
				}

				&[data-team="man-utd"] {
					&::after {
						background-position: -600px -800px;
					}
				}

				&[data-team="arsenal"] {
					&::after {
						background-position: -100px -100px;
					}
				}

				&[data-team="spurs"] {
					&::after {
						background-position: -500px -1000px;
					}
				}
			}
		}
	}

	.stats {
		display: block;

		tbody {
			display: block;
		}

		tr {
			display: flex;
			align-content: stretch;
			justify-content: space-between;
			align-items: center;
			background-color: $gray;
			color: $purple;
			padding: 10px;
			margin-top: 2px;
			box-shadow: 0 1px 8px rgba($black, 0.4);

			&:first-child {
				margin-top: 0;
			}
		}

		th, td {
			display: inline-block;
			line-height: 1;
		}

		th {
			text-align: left;
			font-size: $font-medium;
			font-weight: normal;
		}

		td {
			text-align: right;
			font-size: $font-large;
			font-weight: bold;
		}
	}
}
