@import "variables";
@import "global";
@import "mixins";
@import "colors";
@import "typography";
@import "icons";
@import "fonts";
@import "helpers";
@import "header";
@import "footer";
@import "components/stats-card";

body {
	font-size: $font-medium;
	font-family: "Arial" sans-serif;
	background-color: gray;
}
  
main {
	max-width: 1170px;
	margin: 0 auto;
	padding: $spacing-xlarge;
}
